DB_HOST=85.239.244.203
DB_PORT=5432
DB_NAME=genesis_pay
DB_USER=wilmarbg
DB_PASSWORD='Misb4sesd3dat0s**#'
DB_SSL_MODE=disable
JWT_SECRET=cambiar_esta_clave_en_produccion
JWT_EXPIRATION_HOURS=24
ENCRYPTION_KEY=clave_de_32_caracteres_aqui__ok
AUTH_PORT=8001
CLIENTS_PORT=8002
MERCHANTS_PORT=8003
PAYMENTS_PORT=8004
