DB_HOST=172.17.0.1
DB_PORT=5432
DB_USER=genesis_user
DB_PASSWORD=secret
DB_NAME=genesis_db
DB_SSL_MODE=disable

AUTH_PORT=8001
CLIENTS_PORT=8002
MERCHANTS_PORT=8003
PAYMENTS_PORT=8004

JWT_SECRET=tu_secreto_muy_seguro_y_largo
JWT_EXPIRATION_HOURS=24
ENCRYPTION_KEY=clave_fuerte_de_32_bytes_12345678
